{extend name="public/base"/}
{block name="body"}
<div class="p-banner" style="background:url(/public/images/about.jpg);">
</div>
<div class="about_us">
    <div class="warp">
        <div class="pull-left">
            <img width="454" src="/public/images/aboutc.jpg" />
        </div>
        <div class="pull-left" style="width:580px; padding:30px 20px;">
            <p><img alt="" src="/public/images/whoweare.jpg" style="width: 476px; height: 80px" /></p>
            <p>&nbsp; 易莲网络工作室成立于2017年，以领先的设计水准和技术开发能力，为近知名品牌企业建立全面的、以结果为导向的企业在线门户形象。<br></p>
            <p>&nbsp;</p>
            <p>&nbsp;&nbsp;我们服务的品牌客户有：上海交通大学，浙江大学，杭州素食联盟 等众多行业，并树立了良好的口碑，积累了丰富的经验和成功案例，我们的专业服务水准以及良好的售后服务质量赢得了客户的广泛认可。</p>
            <p>&nbsp;</p><p>我们的理念：信为先 质为本 精于业&nbsp;</p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
{/block}